$main-background-color: #cd5c5c;
$secondary-background-color: #f5deb3;
$main-color: #f5fffa;
$alternate-color: rgba(200,200,200,0.5);
/////////////
@import url( 'https://fonts.googleapis.com/css?family=Bangers');

html {
  position: relative;
  font-family: 'Bangers', cursive;
  letter-spacing: .5px;
  word-spacing: 2px;
  color: $main-background-color;
  background-color: $main-color;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
  @media (max-width: 960px) {
    font-size: 18px;
  }
  @media (min-width: 1360px) {
    font-size: 18px;
  }
  @media (min-width: 1440px) {
    font-size: 19px;
  }
  @media (min-width: 1600px) {
    font-size: 20px;
  }
  @media (min-width: 1920px) {
    font-size: 21px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.htmlLike {
  white-space: pre-line;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.text-center {
  text-align: center;
}

nav {
  width: 94%;
  padding: 0 3%;
  color: $main-color;
  background-color: $main-background-color;
  position: fixed;
  top: 0;
  z-index: 200000;
  @media (max-width: 960px) {
    padding: 0;
    width: 100%;
  }

  h1 {
    float: left;
    @media (max-width: 960px) {
      float: none;
      text-align: center;
      margin: 0;
      font-size: 1.5em;
    }

  }

  .clear {
    clear: both;
  }

  ul {
    list-style: none;
    float: right;
    @media (max-width: 960px) {
      float: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 1em;
      transition: ease-in-out .3s background-color,ease-in-out .3s color;
      @media (max-width: 400px) {
        text-align: center;
        padding: 2.5%;
      }
      @media (max-width: 320px) {
        text-align: center;
        padding: 1.5%;
      }

      &:hover {
        transition: ease-in-out .3s background-color,ease-in-out .3s color;
        background-color: $main-color;
        color: $main-background-color;
      }
    }
  }
}

h2 {
  text-align: center;
}

.welcome {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url('https://picsum.photos/1280/720/?random');
  background-color: $secondary-background-color;
}

.noFlex {
  display: block !important;
}

.toTop {
  position: fixed;
  bottom: 1em;
  right: 1em;
  border: 2px solid $main-background-color;
  color: $main-background-color;
  background-color: $main-color;
  padding: .5em .75em;
  font-weight: bold;
  border-radius: 2em;
  cursor: pointer;
  transition: ease-in-out .3s background-color,ease-in-out .3s color, ease-in-out .3s border;

  &:hover {
    transition: ease-in-out .3s background-color,ease-in-out .3s color, ease-in-out .3s border;
    border: 2px solid $secondary-background-color;
    color: $secondary-background-color;
    background-color: $main-background-color;
  }
}
///////////////////////
.topArtists {
  width: 93%;
  margin: 0;
  text-align: center;
  padding: 2.5% 3.5% 3.5%;
  @media (max-width:960px) {
    width: 100%;
    padding: 0;
    max-height: 125vw;
  overflow: scroll;
  }

  .artist {
    position: relative;
    overflow: hidden;
    width: 10vw;
    min-width: 10vw;
    min-height: 10vw;
    margin-bottom: -0.5em;
    display: inline-block;
    box-sizing: border-box;
    border: 0 solid $main-background-color;
    background-color: $main-background-color;
    transition: ease-in-out .3s border,ease-in-out .3s transform;
    @media (max-width:960px) {
      width: calc( 100vw / 5 );
    }
    @media (max-width:768px) {
      width: calc( 100vw / 4 );
    }
    @media (max-width:400px) {
      width: calc( 100vw / 2 );
    }
    @media (max-width:320px) {
      width: calc( 100vw / 1 );
    }

    &:hover {
      border: .3em solid $main-background-color;
      font-size: 60%;
      transition: ease-in-out .3s border,ease-in-out .3s transform;
      z-index: 1000;
      transform: scale(1.7);
      margin: -0.75em 0 -0.25em;

      span {
        border: .3em solid $main-background-color;
        bottom: -0.3em;
        right: -0.3em;
      }

    }

    img {
      width: 100%;
      height: 100%;
      margin-bottom: -0.5em;
    }

    span {
      margin: 0;
      max-width: 80%;
      position: absolute;
      bottom: -5em;
      right: -5em;
      padding: .3em;
      text-align: right;
      background-color: $main-color;
      color: $main-background-color;
      transition: ease-in-out .3s bottom, ease-in-out .3s right;
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }
}

//////////////////////
.artistDetails {
  width: 93%;
  margin: 0;
  padding: 0 3.5%;

  @media (max-width:960px) {
    width: 100%;
    padding: 0;
  }

  a {
    span {
      padding: .5em;
      transition: ease-in-out .3s background-color,ease-in-out .3s color;

      &:hover {
        transition: ease-in-out .3s background-color,ease-in-out .3s color;
        color: $main-color;
        background-color: $main-background-color;
      }
    }
  }

  .profilePic {
    border-radius: 50%;
    float: right;
    height: 300px;
    width: auto;
    margin: 2em 10em 0 2em;
    border: .3em solid $main-color;
    box-sizing: border-box;
  }

  div {
    min-height: calc(150px - 2em);
    padding: 1em 2em;

    @media (max-width:960px) {
      width: 95%;
      padding: 2.5%;
    }

    h3,
    h4 {
      margin: .5em 0;
      padding: 0;
    }
  }

  .upper {
    background: $secondary-background-color;
    min-height: calc(150px - 2em);
    padding: 1em 2em;

    h3 {
      font-size: 200%;
      margin: .25em 0;
    }

  }

  .bio {
    clear: both;

    h3 {
      text-align: center;
    }

    #content,
    #summary {
      background-color: $secondary-background-color;

      a {
        color: $main-color;
      }
    }

    button {
      color: $secondary-background-color;
      background-color: $main-background-color;
      border: none;
      width: 12em;
      padding: 1em;
      margin-top: 2em;
      margin-left: calc( 50% - 6em );
      cursor: pointer;
      transition: ease-in-out .3s background-color,ease-in-out .3s color;

      &:hover {
        transition: ease-in-out .3s background-color,ease-in-out .3s color;
        background-color: $secondary-background-color;
        color: $main-background-color;
      }
    }
  }
}

.artistTopAlbumsDetails {
  @extend .topArtists;
  margin: 0;
  padding: .5% 0;
  width: 100%;

  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  transform: scale(1.0);

  .artist {
    width: calc( 100vw / 6 );
    margin: 0;
    @media (max-width:960px) {
      width: calc( 100vw / 3.5 );
    }

    @media (max-width:960px) {
      width: calc( 100vw / 1.5 );
    }

    &:hover {
      font-size: 100%;
      transform: scale(1.0);
      margin: 0;
    }
  }
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
};

.artistTopTracksDetails {
  width: 93%;
  margin: 3% auto 6%;
  max-height: 20em;
  overflow-y: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width:960px) {
    font-size: 100%;
    display: block;
  }

  span {
    display: inline-block;
    padding: .2em .5em;
    transition: ease-in-out .3s background-color,ease-in-out .3s color;
    cursor: pointer;
    @media (max-width:960px) {
      padding: .25em;
      display: block;

      &:nth-child(even) {
        background-color: $alternate-color;
      }
    }

    &:hover {
      transition: ease-in-out .3s background-color,ease-in-out .3s color;
      color: $main-color;
      background-color: $main-background-color;
    }
  }
}

.albumDetails {
  @extend .artistDetails;

  .upper {
    span {
      &:first-child {
        font-size: 150%;
      }

      &:last-child {
        font-size: 200%;
        padding: .25em;
        cursor: pointer;
        transition: ease-in-out .6s background-color,ease-in-out .3s color;

        &:hover {
          transition: ease-in-out .6s background-color,ease-in-out .3s color;
          background-color: $main-background-color;
          color: $secondary-background-color;
        }
      }
    }
  }

  .tracks {
    ol {
      max-width: 80%;
      margin: 0 auto;
      cursor: pointer;

      li {
        padding: .15em;
        transition: ease-in-out .6s background-color,ease-in-out .3s color;

        &:hover {
          transition: ease-in-out .3s background-color,ease-in-out .3s color;
          background-color: $main-background-color;
          color: $main-color;
        }
      }
    }
  }
}

.topTags {
  span {
    padding: .25em;
    display: inline-block;
    width: calc( 100% / 5);
    text-align: right;
    @media (max-width:960px) {
      display: block;
      width: 90%;
      padding: 1% 5%;
      text-align: left;
    }
  }
}

.tagDetails {
  @extend .artistDetails;

  div {
    min-height: 0;
  }
}

.topTracksDetails {
  @extend .artistTopTracksDetails;
  max-height: none;
  font-size: 110%;
  @media (max-width:960px) {
    font-size: 100%;
  }

  span {
    padding: .5em;

  }

}

.searchBox {
  text-align: center;

  input {
    text-align: center;
    padding: .25em 1em;
    width: 60%;
    @media (max-width:960px) {
      padding: 5%;
      width: 90%;
    }
  }
}
